@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#tempPwView_wrap{
	height:600px;
	position:relative;
	top:200px;
}

#tempPwView{
	position:absolute;
	width:400px;
	left:50%;
	top:0px;
	transform:translate(-50%, 0px);		
}

table{
	border-spacing:0;
    border-collapse: collapse;
}

input{
	border:0;
	outline:0;
	font-size:0.8em;
	padding-left:10px;
	color:grey;
	width:300px;
}

th{
	text-align:center;
	width:400px;
}

td{
	border-bottom:1px solid lightgrey;
	font-size:0.8em;
	width:400px;
	padding:20px 0;
}

.info{
	border:0;
}


p{
	text-align:center;
	width:400px;
	font-size:0.9em;	
	margin-top:30px;
}

#tempPw{
	color:red;
}


.btn{
	width:400px;
	outline:0;
	background-color:white;
	font-size:0.8em;
	border:1px solid lightgrey;
	padding:15px 0 15px 0;
	margin-top:15px;
	color:black;
}

.btn:hover{
	border:1px solid black;
	cursor: pointer;
}

#tempPw{
	width:400px;
	margin-top:15px;
}

#tempPw input{
	border:0;
	outline:0;
	font-size:0.8em;
	padding-left:10px;
	color:grey;
	width:300px;
}